:root{
    /*bg colorss*/
    --bg-primary-color:rgb(80, 31, 80);
    --bg-secondary-color:rgb(199, 158, 217);
    --bg-tertiary-color:rgb(255, 232, 250);
    --bg-active-color:rgb(234, 232, 239);

    /*padding*/
    --padding-sm:0.5rem;
    --padding-md:0.1rem;
    --padding-lg:1.5rem;
    --padding-xl:2rem;
    --padding-2xl:3rem;

    /*gutter*/
    --gutter-sm:0.5rem;
    --gutter-md:1rem;
    --gutter-lg:3rem;

    /*font size*/
    --font-size-sm:0.5rem;
    --font-size-md:1rem;
    --font-size-lg:1.5rem;

    /*text colors*/
    --text-primary-color:rgb(241, 227, 236);
    --text-seccondary-color:rgb(11, 5, 5);
    --text-active-color:rgb(195, 190, 207);

    /*border radius*/
    --border-radius-sm:0.5rem;
    --border-radius-md:1rem;
    --border-radius-lg:1.5rem;


    



}